body {
    background: url('../images/bananas.png');
 }
.card.text-center{
    width: 960px;
    height: 500px;
    margin-left: 300px;
    margin-top: 150px;
    background-color: goldenrod;
} 
.card-title{
    padding-top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button{
    width: 150px;
    margin-left: 400px;
    margin-top: 250px;
}
.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;
}